:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-white-smoke: #F5F5F5;
  --color-light-gray: #D9D9D9;
  --color-dark-gray: #757575;
  --color-charcoal: #212121;
  --color-blue: #039BE5;
  --color-red: #F44336;
  --color-green: #4CAF50;
  --color-light-pink: #FFBDBD;

  --color-background: var(--color-white-smoke);
  --color-paper: var(--color-white);
  --color-text: var(--color-charcoal);
  --color-border: var(--color-light-gray);

  --color-hover: var(--color-white-smoke)
}

:root.darkTheme {
  --color-background: #1c1c1c;
  --color-paper: var(--color-charcoal);
  --color-text: var(--color-white);
  --color-border: var(--color-black);

  --color-hover: var(--color-black)
}