@import "colors.scss";

body {
  margin: 0;
  background: var(--color-background);
  overflow-y: overlay;
}

* {
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
  box-sizing: border-box;
}

button {
  background: transparent;
  border: 0;
  font-size: 1em;
}

a {
  text-decoration: none;
}

#app {
  width: 100%;
  height: calc(100vh - 16px);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}